/* styles.css */

body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    color: #333;
    margin: 0;
    padding: 0;
  }
  
  h1 {
    color: #007BFF;
    margin-bottom: 20px;
  }
  
  .link {
    color: #007BFF;
    text-decoration: none;
  }
  
  .link:hover {
    text-decoration: underline;
  }
  
  .success-message {
    background: red;
    color: white;
    padding: 10px;
  }
  